/* demon_slayer.css */
body {
    background-color:#fff;
    height:200vh;
    width:200vh;
}
#movie {
    width:750px;
    height:866px;
    background-color:#000;
}
/* ==================== 1행 */
#movie > .top_g {
    background-image:url(../images/demon_slayer_bg.jpg);
    background-color:aqua;
    width:100%;
    height:470px;
    background-repeat:no-repeat;
    background-size:100%;
    background-position:0 -190px;
    display:flex;
    padding:20px 20px 0 20px;
}
#movie > .top_g > .left {
    margin:0 572px 0 0;
    display:flex;
}
#movie > .top_g > .left > .back_btn {
    margin:0 10px 0 0;
}
#movie > .top_g > .left > .home_btn {}
#movie > .top_g > .right {
    display:flex;
}
#movie > .top_g > .right > .share_btn {
    margin:0 10px 0 0;
}
#movie > .top_g > .right > .bookmark_btn {}
/* ==================== 2행 */
#movie > .title {
    display:flex;
    padding:0 0 0 20px;
}
#movie > .title > h1 {
    font-family:'Pretendard', '맑은 고딕';
    font-weight:700;
    font-size:1.75em;
    letter-spacing:-0.02em;
    color:#fff;
    margin:0 4px 0 0;
}
#movie > .title > .use_grade {}
/* ==================== 3행 */
#movie > .info {
    display:flex;
    padding:20px 0 20px 20px;
}
#movie > .info > .date {
    font-family:'Pretendard', '맑은 고딕';
    font-size:1.25em;
    color:#fff;
    margin:0 20px 0 0;
    border-right:1px solid #555555;
}
#movie > .info > .time {
    font-family:'Pretendard', '맑은 고딕';
    font-size:1.25em;
    color:#fff;
    margin:0 20px 0 20px;
    border-right:1px solid #555555;
}
#movie > .info > .category {
    font-family:'Pretendard', '맑은 고딕';
    font-size:1.25em;
    color:#fff;
    margin:0 0 0 20px;
}
/* ==================== 4행 */
#movie > .rate {
    padding:0 0 50px 0;
    border-bottom:1px solid #8B8B8B;
}
#movie > .rate > .rate_info {
    display:flex;
    margin:20px 0 0 20px  ;
}
#movie > .rate > .rate_info > .sell {
    display:flex;
    margin:0 155px 0 0;
}
#movie > .rate > .rate_info > .sell > p {
    margin:0 10px 0 0;
}
#movie > .rate > .rate_info > .sell > p > img {}
#movie > .rate > .rate_info > .sell > .sell_info {
    font-family:'Pretendard', '맑은 고딕';
    letter-spacing:-0.02em;
}
#movie > .rate > .rate_info > .sell > .sell_info > .book_sell {
    color:#8B8B8B;
    margin:0 0 10px 0;
}
#movie > .rate > .rate_info > .sell > .sell_info > .book_num {
    color:#fff;
    font-weight:700;
    font-size:1.25em;
}
#movie > .rate > .rate_info > .audience {
    display:flex;
    margin:0 155px 0 0;
}
#movie > .rate > .rate_info > .audience > p {
    margin:0 10px 0 0;
}
#movie > .rate > .rate_info > .audience > p > img {}
#movie > .rate > .rate_info > .audience > .audience_info {
    font-family:'Pretendard', '맑은 고딕';
    letter-spacing:-0.02em;
}
#movie > .rate > .rate_info > .audience > .audience_info > .book_audience {
    color:#8B8B8B;
    margin:0 0 10px 0;
}
#movie > .rate > .rate_info > .audience > .audience_info > .book_num {
    color:#fff;
    font-weight:700;
    font-size:1.25em;
}
#movie > .rate > .rate_info > .egg {
    display:flex
}
#movie > .rate > .rate_info > .egg > p {
    margin:0 10px 0 0;
}
#movie > .rate > .rate_info > .egg > p > img {}
#movie > .rate > .rate_info > .egg > .egg_info {
    font-family:'Pretendard', '맑은 고딕';
    letter-spacing:-0.02em;
}
#movie > .rate > .rate_info > .egg > .egg_info > .book_egg {
    color:#8B8B8B;
    margin:0 0 10px 0;
}
#movie > .rate > .rate_info > .egg > .egg_info > .book_num {
    color:#fff;
    font-weight:700;
    font-size:1.25em;
}
/* ========================= 5행 */
#movie > .dis {}
#movie > .dis > .dis_title {
    font-family:'Pretendard', '맑은 고딕';
    font-weight:700;
    font-size:1.625em;
    letter-spacing:-0.02em;
    color:#fff;
    margin:20px 0 20px 20px;
}
#movie > .dis > .dis_content {
    font-family:'Pretendard', '맑은 고딕';
    font-size:1.125em;
    line-height:1.5;
    letter-spacing:-0.02em;
    color:#d4d4d4;
    margin:0 0 0 20px;
}