#wrap {
    width:402px;
    height:874px;
    padding:45px 15px;
    border:1px solid #000;
    background-color:lightskyblue
}
/* =================================== 1행 */
#wrap > header {
    border-bottom:1px solid #000;
    margin-bottom:10px;
}
#wrap > header > .top {}
#wrap > header > .top > h1 {}
#wrap > header > .top > h1 > a {
    font-size:1.125em;
    font-weight:700;
}
#wrap > header > .top > .right {}
#wrap > header > .top > .right > .search_btn {
    margin-right:8px;
}
#wrap > header > .top > .right > .search_btn > img {}
#wrap > header > .top > .right > .menu_btn {}
#wrap > header > .top > .right > .menu_btn > img {}
/* =================================== 2행 */
#wrap > header > nav {
    padding:10px;
}
#wrap > header > nav > .all {
    font-size:1.125em;
    color:#aaa;
    margin-right:12px;
}
#wrap > header > nav > .all > .num {
    color:#aaa;
}
#wrap > header > nav > .today {
    font-size:1.125em;
    color:#aaa;
}
#wrap > header > nav > .today > .num {
    color:#aaa;
}
#wrap > header > nav > .active {
    font-size:1.125em;
    font-weight:700;
    color:#000;
}
#wrap > header > nav > .active > .num {
    font-weight:700;
    color:#000;
}